extends layout

block content

  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
      .mdl-layout__header-row
        span.mdl-layout-title Contacts
        .mdl-layout-spacer

        button#contacts-menu-button.mdl-button.mdl-js-button.mdl-button--icon
          i.material-icons more_vert
        ul#menu-actions.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-repple-effect(for="contacts-menu-button")
          li#menu-item__add-contact.mdl-menu__item
            i.material-icons add
            | Add contact
          li#menu-item__edit-contact.mdl-menu__item
            i.material-icons edit
            | Edit contact
          li#menu-item__delete-contact.mdl-menu__item.mdl-menu__item--full-bleed-divider
            i.material-icons delete
            | Delete contacts
          li#menu-item__reset-db.mdl-menu__item
            i.material-icons restore
            | Create/Reset DB

    main.mdl-layout__content
      .mdl-grid
        .mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet.mdl-cell--3-offset-desktop.mdl-cell--1-offset-tablet

          .controlls.hidden
            .controlls-inner.show-delete
              h4 Select contacts
              .mdl-layout-spacer
              .action-btns
                button.action-cancle.mdl-button.mdl-js-button.mdl-js-ripple-effect cancle
                button.action-delete.mdl-button.mdl-js-button.mdl-button--accent.mdl-js-ripple-effect(disabled) delete
            .controlls-inner.show-edit
              h4 Select contact
              .action-btns
                button.action-cancle.mdl-button.mdl-js-button.mdl-js-ripple-effect cancle
                
          ul.mdl-list#contacts-list

  .modal.hidden
    #modal-inner.mdl-card.mdl-shadow--2dp
      .mdl-card__title
        h2.mdl-card__title-text
      form.show-edit
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#edit-contact-name-input.mdl-textfield__input(type="text" autofocus)
          label.mdl-textfield__label(for="edit-contact-name-input" ) Name
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#edit-contact-phone-input.mdl-textfield__input(type="text")
          label.mdl-textfield__label(for="edit-contact-phone-input") Phone
      form.show-add
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#add-contact-name-input.mdl-textfield__input(type="text" autofocus)
          label.mdl-textfield__label(for="add-contact-name-input") Name
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#add-contact-phone-input.mdl-textfield__input(type="text")
          label.mdl-textfield__label(for="add-contact-phone-input") Phone
      .mdl-card__actions.mdl-card--border
        .show-delete
          button.action-cancle.mdl-button.mdl-js-button.mdl-js-ripple-effect cancle
          button.action-delete.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-js-ripple-effect delete
        .show-edit
          button.action-cancle.mdl-button.mdl-js-button.mdl-js-ripple-effect cancle
          button.action-apply.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-js-ripple-effect
            i.material-icons done
            | apply
        .show-add
          button.action-cancle.mdl-button.mdl-js-button.mdl-js-ripple-effect cancle
          button.action-add.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-js-ripple-effect
            i.material-icons add
            | add
  
  #snackbar.mdl-js-snackbar.mdl-snackbar
    .mdl-snackbar__text
    .mdl-snackbar__action