doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel='stylesheet' href='/css/style.css')
  body
    block content
    block scripts
      script(defer src="https://code.getmdl.io/1.2.1/material.min.js")
      script(defer src="/js/vendor.min.js")
      script(defer src="/js/all.js")
