@import "mixins/*"

html
  box-sizing border-box

*,
*::before,
*::after
  box-sizing inherit

body
  font-family 'Roboto', 'Helvetica', 'Arial', sans-serif !important

a
  color #00b7ff

.hidden
  display none !important

.mdl-grid 
  max-width 1200px

.contact-list__item
  padding: 8px
  border-bottom 1px solid #eee

#contacts-list
  max-height calc(100% - 32px)
  overflow-y scroll
  
  .contact-avatar,
  .mdl-list__item-avatar
    width 60px
    height 60px
    border-radius 50%
    margin-right 20px
    
  .mdl-list__item-avatar
    text-align center
    line-height 60px
  
  .edit-contact-icon,
  .mdl-checkbox
    display none

  .contact-list__item
    transition background-color .3s
    
  &.editing
    max-height calc(100% - 108px)

    &.delete-contact
      .mdl-checkbox
        display block

    &.edit-contact
      .contact-list__item
        &:hover
          cursor pointer
          background-color #ECEFF1
          .edit-contact-icon
            display block
            
.contact-name
  display block
  font-weight bold
  margin-bottom 5px

.mdl-layout__content,
.mdl-layout,
.mdl-grid
  height 100% !important

.mdl-cell
  overflow hidden


#action-search-contact
  position absolute
  bottom 70px
  right 40px

.controlls
  height 76px
  
.controlls-inner
  height 100%
  display flex
  justify-content space-between
  align-items center

  h4
    margin 0
    
.modal
  z-index 10
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  background-color alpha(black, 0.5)

#modal-inner
  min-height 130px

  .mdl-card__actions
    display flex
    justify-content flex-end

  form
    text-align center

#menu-actions li
  display flex
  align-items center
  
#snackbar
  z-index 99